.join-room-state {
	text-align: center;
	#margin-left: 50%;
}

.find-room {
	text-align: center;
	margin-top: 5%;
}

.find-room > div {
	display: inline-block;
}

.go-button {
	margin-left:2%;
}


.join-room-path {
	width: 20%;
	margin: auto;
	
}

#index-create-btn {
		
}
